:root {
  --background: #0a3394;
  --textColor: #ec42e3;
  --others: #13b321;
}

*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

a {
  text-decoration: none;
  color: var(--background);
}