:root {
  --background: #272a31;
  --textColor: #ec5242;
  --others: #d3d3d3;
}

*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

a {
  text-decoration: none;
  color: var(--background);
}